#about{
    display: flex;
    flex-direction: column;
    width:100%;
}

#innerabout{
    background-color:rgba(0, 0, 0, 0.5);
    width:100%;
    padding:20px;
    margin-left:-100%;
    animation: 1.5s slide-left-about forwards;
}

@keyframes slide-left-about{
    100% {margin-left: 0px;}
}

#bg{
    z-index: -1;
    background: url("../../public/writing.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100%;
    background-position: center;
    position: absolute;
    filter: blur(9px);
}

#aboutcontent{
    color: white;
    margin-top:9%;
    width:100%;
}

.links-about{
    color: lightblue;
    word-break: break-all;
}


@media screen and (max-width:720px) {
    #aboutcontent{
        margin-top:25%;
    }
}

@media screen and (min-width:720px) and (max-width:1112px) {
    #bg{
        top:0;
    }
    #aboutcontent h1{
        font-size: 2em;
    }
    #aboutcontent{
        font-size: 1.5em;
        margin-top:26%;
    }
}