.featureimg{
    height:20vh;
}

.featurediv{
    display:flex;
    align-items: center;
    margin-top:10%;
    margin-bottom:7%;
}

.featurerightimgdiv{
    background-color:aqua;
    border-radius: 100%;
    padding:34px;
    margin-left:-10%;
}

.featureleftimgdiv{
    background-color:aqua;
    border-radius: 100%;
    padding:34px;
    margin-left:-8%;
}

.featurerightdescdiv{
    display: flex;
    background-color:aqua;
    height:30vh;
    width:72vw;
    align-items:center;
    margin-left:150%;
}

.featurerightdescslidediv{
    animation: slide-left 1.5s forwards;
    animation-duration: 2s;
}

@keyframes slide-left {
    100% { margin-left:30%; }
}

.featureleftdescdiv{
    background-color:aqua;
    padding-top:1.5%;
    height:30vh;
    width:82vw;
    padding-left:2%;
    align-items:center;
    margin-left:-115%;
}

.featureleftdescslidediv{
    animation: slide-right 1.5s forwards;
    animation-duration: 2s;
}

@keyframes slide-right {
    100% { margin-left:0%; }
}

.featurehead{
    margin-top:4vh;
    font:3em sans-serif;
    font-weight: 100;
}

.featuredesc{
    font:2em sans-serif;
}