.featureimg{
    height:20vh;
}

#backgroundhome{
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background: url('../../public/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
}

.featurediv{
    display:flex;
    align-items: center;
    margin-top:11%;
    margin-bottom:7%;
}

.featurerightimgdiv{
    background-color:aqua;
    border-radius: 100%;
    padding:34px;
    margin-left:-10%;
}

.featureleftimgdiv{
    background-color:aqua;
    border-radius: 100%;
    padding:34px;
    margin-left:-8%;
}

.featurerightdescdiv{
    display: flex;
    background-color:aqua;
    height:30vh;
    width:72vw;
    align-items:center;
    margin-left:150%;
}

.featurerightdescslidediv{
    animation: slide-left 1.7s forwards;
    animation-delay: 0.4s;
}

@keyframes slide-left {
    100% { margin-left:30%; }
}

.featureleftdescdiv{
    background-color:aqua;
    padding-top:1.5%;
    height:30vh;
    width:82vw;
    padding-left:2%;
    align-items:center;
    margin-left:-115%;
}

.featureleftdescslidediv{
    animation: slide-right 1.5s forwards;
    animation-delay: 0.4s;
    animation-duration: 2s;
}

@keyframes slide-right {
    100% { margin-left:0%; }
}

.featurehead{
    margin-top:4vh;
    font:3em sans-serif;
    font-weight: 100;
}

.featuredesc{
    font:2em sans-serif;
}
