#nav{
    display: flex;
    position: fixed;
    border: 1px solid black;
    width: 100%;
    height: 18%;
    box-shadow: 0 8px 8px #ddd;
}

#mainlogo{
    margin-top: 1%;
    margin-left:10px;
    width: 45%;
    display:flex;
    height: 100%;
}

#logoicon{
    margin-top:-1%;
    height: 90%;
}

#logotext{
    margin-top: -1.5%;
    margin-left:2%;
    font-family: 'Dancing Script', cursive;
}

#logotext1{
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    font-weight: 1000;
}

#logotext2{
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    font-weight: 1000;
}

#opcon{
    width:100%;
    height: 100%;
    margin-top: -6px;
}

.pad{
    padding-right: 20%;
}

#opcon{
    display:flex;  
    list-style:none;
    align-items:center;
}

#opconcontainer{
    margin-left: 12%;
}

.options{
    font-size: 150%;
    cursor:pointer;
}

.options:hover{
    text-decoration: underline;
}

#loginbut{
    border-radius: 20px;
    padding-left: 40%;
    padding-right: 40%;
    text-align: center;
    cursor:pointer;
    background-color: white;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

#loginbut:hover{
    text-decoration: none;
    color: black;
    box-shadow: inset 400px 0 0 0 rgb(255, 99, 99);
    color: white;
}