#logo{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

#logo img{
    height:100px;
}

#head{
    font-size:3em;
    font-family:'Dancing Script', cursive;
    font-weight:1000;
}

#moto{
    font-size:1.5em;
    font-family:'Dancing Script', cursive;
    font-weight:1000;
}

#logotextbox{
    margin-left:15px;
}