#mainbody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    animation: fadein 1.5s;
}

@keyframes fadein{
    0% { opacity: 0;}
    100% { opacity: 1;}
}