#mainbody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    animation: push 0.5s;
}

@keyframes push{
    0% { opacity: 0; transform: scale(0.1); }
    100% { opacity: 1; transform: scale(1); }
}