#nav{
    display: flex;
    position: fixed;
    border: 1px solid black;
    width: 100%;
    height: 18%;
    box-shadow: 0 8px 8px #ddd;
    background-color:white;
}

#mainlogo{
    margin-top: 1%;
    margin-left:10px;
    width: 46%;
    display:flex;
    height: 100%;
}

#logoicon{
    margin-top:-1%;
    height: 90%;
}

#logotext{
    margin-top: -1.5%;
    margin-left:2%;
    font-family: 'Dancing Script', cursive;
}

#logotext1{
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    font-weight: 1000;
}

#logotext2{
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    font-weight: 1000;
}

#opcon{
    width:100%;
    height: 100%;
    margin-top: -6px;
}

.pad{
    padding-right: 20%;
    position: relative;
}

#opcon{
    display:flex;  
    list-style:none;
    align-items:center;
}

#opconcontainer{
    margin-left: 11%;
    position: relative;
}

.options{
    font-size: 1.5em;
    cursor:pointer;
    text-decoration: none;
    letter-spacing:0.5px;
    transition: all 2s;
}


#loginbut{
    border: 1px solid black;
    border-radius:20px;
    padding: 10%;
    padding-left: 40%;
    padding-right: 40%;
    text-align: center;
    cursor:pointer;
    background-color: white;
    box-shadow: inset 0 0 0 0 rgb(99, 141, 255);
    -webkit-transition: ease-out 0.4s;
    transition: ease-out 0.3s;
    color: black;
}

#loginbut:hover{
    text-decoration: none;
    box-shadow: inset 400px 0 0 0 rgb(99, 141, 255);
    color: white;
}

#links{
    font-size: 1.5em;
    cursor:pointer;
    text-decoration: none;
    letter-spacing:0.5px;
    transition: all 2s;
    color: blue;
}

#links::after{
    content: '';
    background-color: deeppink;
    width:0%;
    height:3px;
    display: block;
    transition: all 0.3s ease;
    pointer-events: none;
}

#links:hover::after{
    width: 100%;
}

#active{
    font-size: 1.5em;
    cursor:pointer;
    text-decoration: none;
    letter-spacing:0.5px;
    transition: all 2s;
    color: darkblue;
}

#active::after{
    content: '';
    background-color: deeppink;
    width: 100%;
    height:3px;
    display: block;
    pointer-events: none;
}