#translate{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

#translateinner{
    display:flex;
}

.translateformbox{
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-left:-110%;
    animation: slidein 2.0s forwards;
}

.formcontents{
    font-size: 2em;
    width: 19em;
    margin: 10px;
    margin-top: 0px;
    color: wheat;
    background-color: black;
    border: 2px solid white;
}

.text{
    height:600px;
    resize: none;
    border-radius:15px;
    color: wheat;
    background-color: black;
}


@keyframes slidein{
    100%{margin-left: 10px;}
}

#translatewidgetscontainer{
    display: flex;
    flex-direction: column;
}

#butcontainer{
    margin-top: 20%;
    display: flex;
    width: 100%;
}

.tbuttons{
    font-size:30px;
    padding: 10px;
    padding-top:0px;
    padding-bottom:0px;
    margin: 10px;
    color: white;
    background-color:rgb(41, 41, 240);
}

.tbuttons:hover{
    background-color:rgb(24, 24, 175);
}

.tbuttons:active{
    background-color:darkblue;
}

#intbutton{
    height: 60px;
    padding-top:-10%;
    margin-top: 16.5%;
    font-size:40px;
    align-items: center;
    text-align: center;
    width:100px;
    color: white;
    background-color:rgb(41, 41, 240);
}

#intbutton:hover{
    background-color:rgb(24, 24, 175);
}

#intbutton:active{
    background-color: darkblue;
}